﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
input[type="submit"]{
    background:none;
    border-radius:2px;
    border: 1px solid #c3c3c3;
    padding: 8px 5px;
    margin: 0 auto;
    display:block;
    transition:background 200ms;
    margin-top:10px;
}
input[type="submit"]:hover{
    background:#c3c3c3;
    color:#ffffff;
}

#side input[type="text"], #side select, #side textarea {
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border: 1px solid #dedede;
    width: 100%;
}

#side img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

#side h3 {
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

#side {
    padding-top: 50px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}



@media screen and (max-width:990px) {
    #side input[type="text"], #side select, #side textarea{
        width:60%;
        display:block;
        margin: 0 auto;
        max-width:none;
        padding: 8px 5px;
    }
    .formlabel{
        font-size:16px;
        text-align:center;
        display:block;
        width:60%;
        margin: 0 auto;
        margin-bottom:5px;
        margin-top:10px;
    }

}

@media screen and (max-width:480px) {
    #side input[type="text"], #side select, #side textarea {
        width: 100%;
        margin: 0 auto;
        max-width: none;
        padding: 8px 5px;
    }
    .label{
        width:100%;
    }
}
