﻿body{
    padding-top:0px;
}


._altmenu {
    float:right !important;
}

#generatedmenu {
    
}

.altmenuitem{
    margin-right:30px;
    padding:15px 35px !important;
   

}

#generatedmenu a.popout{
    background-position:95% 50% !important;
}

.altmenu{
   
}

#menubar {
    position: relative;
    padding-top: 20px;
    background-image: linear-gradient(#8190B280, #FFFFFF);
    font-size: 18px;
}
#menuwrapper{
    max-width:1170px;
    /*overflow:hidden;*/
    margin: 0 auto;
}

.altdynamicmenu {
    background: #f4f4f4;
    
    min-width: 150px;
    padding: 20px !important;
}

.altdynamicmenuitem{
    margin-bottom:15px;
    color:#000000;
}

.altdynamicmenu li:last-child .altdynamicmenuitem{
    margin-bottom:0px;
}

#homebutton {
    float:left;padding:15px 35px;
}


@media screen and (max-width:480px){

    #homebutton{
        float:none;
        width:200px;
        margin: 0 auto;
        text-align:center;
    }
    #generatedmenu, #generatedmenu ul{
        float:none !important;
        width:100%;
        /*overflow:hidden;*/
    }
    #generatedmenu ul li{
        float:none !important;
        display:block;
        text-align:center;
        margin: 0 auto;

    }
    .altmenuitem{
        margin-right:0px !important;
    }
    .altdynamicmenu {
        left:0px;
        right:0px;
        margin: 0 auto;
    }
    
}